extends layout

block content
  .fl.w-100.relative(style="background: url('/image/feature-images/oakland-cty-marriott___00000.jpg') center center; background-size: cover !important")
    .flex.align-center.justify-center.items-center.flex-column.h-50
      span.lh-title.f1.fw5 Meeting Glue
      span.lh-subtitle Connecting planners and suppliers
  .fl.w-100.bg-near-black
    .cf.mw6.center.mt3.mb4
      h1.light-green Invite a fellow planner
      form(action="" method="POST")
      input(type="text" placeholder="Your name").mr2.input-reset.ba.b--white.br2.bg-black.white.pa2
      input(type="text" placeholder="Their email").mr2.input-reset.ba.b--white.br2.bg-black.white.pa2
      input(type="submit").mr2.input-reset.ba.b--white.br2.bg-black.white.pa2
  .fl.w-100.bg-black.ph4
    .fl.w-third-l.w-100.near-white.ph4
      h1 Hot Openings
      if openings
        each o in openings
          a.link.w-100.bb.b--black-05.dim.pointer(href=`${o.link}` target="_blank" rel="noopener")
            .v-mid.pv3
              h1.f6.f5-ns.fw6.lh-title.mv0.link.white.mw6=`${o.title}`
              h2.f6.fw4.mt0.mb0.green=`${o.pubDate.substr(0, 16)}`
            
    .fl.w-third-l.w-100.ph4
      h1 New Openings
      each fo in featuredOpenings
        .fl.w-100.mb3.dim.pointer.mw6(href=`${fo.link}` target="_blank" rel="noopener")
          .dtc.v-mid.cover.h5.tc.pa3.ma3(style='background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/image/tmp.jpg); background-size: cover;')
            .f4.fw6=`${fo.title}`
      
    .fl.w-third-l.w-100.ph4
      h1 Industry News
      .fl.w-70.bg-near-black.pa3.relative
        each n in news
          .flex.flex-column.h4.items-center.justify-center.h3
            a.link.no-underline.w-100.f5.fw6.light-blue.dim.pointer(href=n.link target="_blank" rel="noopener")= n.title
            .w-100.f6.fw4.white.mt1= n.pubDate.substr(0, 16)
    
    .fl.w-100.pt4
      .fl.w-50-l.w-100
        h1 Featured Properties
        .w-100.pb2.pr5.mt2(href='#0')
          img.h5(src="image/arlington.png")
          h1.fw4.f5.purple Arlington, VA
        .w-100.pb2.pr5.mt2(href='#0')
          img.h5(src="image/arlington.png")
          h1.fw4.f5.purple Arlington, VA
      .fl.w-50-l.w-100
        h1 Polls
        .fl.w-100
          form(action="" method="post")
            h4.measure-narrow Aperiam dolore error repellat, provident enim modi aliquid eaque beatae odit eveniet adipisci voluptatum? 
            div.pt3
              input(type="radio" id="opt1" name="opt1" value="opt1" checked)
              label.pl2(for="opt1") Option 1
            div.pt3
              input(type="radio" id="opt1" name="opt1" value="opt1" checked)
              label.pl2(for="opt1") Option 1
            div.pt3
              input(type="radio" id="opt1" name="opt1" value="opt1" checked)
              label.pl2(for="opt1") Option 1
            div.pt3
              input.pa2.br1.ba.b--green.bg-purple.white(type="submit")
        .fl.w-100.mt5
          form(action="" method="post")
            h4.measure-narrow Aperiam dolore error repellat, provident enim modi aliquid eaque beatae odit eveniet adipisci voluptatum? 
            div.pt3
              input(type="radio" id="opt1" name="opt1" value="opt1" checked)
              label.pl2(for="opt1") Option 1
            div.pt3
              input(type="radio" id="opt1" name="opt1" value="opt1" checked)
              label.pl2(for="opt1") Option 1
            div.pt3
              input(type="radio" id="opt1" name="opt1" value="opt1" checked)
              label.pl2(for="opt1") Option 1
            div.pt3
              input.pa2.br1.ba.b--green.bg-purple.white(type="submit")   
      
