extends layout

block content
  script(src="/js/profile_hotel.js")
  .cf
    .fl.w-100.bg-near-black.green
      .fl.w-100.w-50-ns.pv3.ph3
        .fl.w-100.f3.fw4=`${hotel.title}`
        .fl.w-100.f5.fw4.gray=`Hotels`
      .fl.w-100.w-50-ns.pv3.ph3.tr-ns
        .fl.w-100.f3.fw4=`${hotel.address}`
        .fl.w-100.f5.fw4.gray=`${hotel.city}, ${hotel.state} ${hotel.zip}`
    .fl.w-100.bg-white.bb.bw1.b--black
      .fl.w-100.w-70-l.tc.bg-black.relative
        .absolute.bg-black-70.pa3(style="left: 0%; top: 30%").tl
          .f3.orange Come find us!
          .f4 SmartConnect
          .f6 August 20, 2019
        div.accolades
          if !hotel.covers  || hotel.covers.length == 0
            img(src=`/image/tmp-cover.jpg` style="height: 500px; width:100%; object-fit: cover !important")
          if hotel.covers
            each h in hotel.covers
              .fl.w-100
                img(src=`/uploads/${h}` style="height: 500px; width:100%; object-fit: cover !important")
      .fl.w-100.w-30-l
        table.f6.w-100.mw8.center(cellspacing='0').black
          tbody.lh-copy
            tr.stripe
              td.pa1.b Rating
              td.pa1=`${hotel.diamonds}`
          if (hotel.numberOfSleepingRooms)
            tr.stripe-dark
              td.pa1.b Sleeping rooms
              td.pa1=`${hotel.numberOfSleepingRooms}`    
          if (hotel.roomsTaxPercent)
            tr.stripe-dark
              td.pa1.b Rooms tax
              td.pa1=`${hotel.roomsTaxPercent}`
          if (hotel.resortFee)
            tr.stripe-dark
              td.pa1.b Resort fee
              td.pa1=`${hotel.resortFee}`
          if (hotel.meetingRoomsAmount)
            tr.stripe-dark
              td.pa1.b Meeting rooms
              td.pa1=`${hotel.meetingRoomsAmount}`
          if (hotel.largestRoom1)
            tr.stripe-dark
              td.pa1.b Largest room (1)
              td.pa1=`${hotel.largestRoom1} sf`
          if (hotel.largestRoom2)
            tr.stripe-dark
              td.pa1.b Largest room (2)
              td.pa1=`${hotel.largestRoom2} sf`
          tr.stripe-dark
            td.pa1.b In-House A/V 
            td.pa1=`Property owned equipment`
          if (hotel.salesTax)
            tr.stripe-dark
              td.pa1.b Food & Beverage Tax
              td.pa1=`${hotel.salesTax}%`
          if (hotel.parkingFeeSelf)
            tr.stripe-dark
              td.pa1.b Self parking
              td.pa1=`${hotel.parkingFeeSelf}`
          if (hotel.parkingFeeValet)
            tr.stripe-dark
              td.pa1.b Valet parking
              td.pa1=`${hotel.parkingFeeValet}`
          if (hotel.loyaltyProgramName)
            tr.stripe-dark
              td.pa1.b Loyalty program
              td.pa1=`${hotel.loyaltyProgramName}`
          
          if (hotel.serviceChargePercent)
            tr.stripe-dark
              td.pa1.b Service charge 
              td.pa1=`${hotel.serviceChargePercent}`
          if (hotel.publicWifiFee)
            tr.stripe
              td.pa1.b Public WiFi fee
              td.pa1=`$${hotel.publicWifiFee}`
          if (hotel.fitnessCenter)
            tr.stripe-dark
              td.pa1.b Fitness center 
              td.pa1=`Yes`
          if (hotel.hasPool)
            tr.stripe
              td.pa1.b Pool
              td.pa1 Yes : Outdoor
          if (hotel.hasSpa)
            tr.stripe-dark
              td.pa1.b Spa
              td.pa1 No
          tr.stripe-dark
            td.pa1.b Union status
            td.pa1=`Non-union`
          if (hotel.closestAirport)
            tr.stripe-dark
              td.pa1.b Airports
              td.pa1=`${hotel.closestAirport}`
          tr.stripe-dark
            td.pa1.b Public transportation
            td.pa1=`12th St./Oakland City Center 0.1mi`
      .fl.w-100.bg-black-90.gold.tc
        .fl.w-50.ph3
          h1 Promotions
          .cf.mw7.center.pb4
            .h3.white Courtyard Oakland Downtown - Oakland, California
            .f4.green Smart Meetings Promotion
            .f5 Expires: September 30, 2019
            //- if hotel.promos
            //-   each x in hotel.promos
            //-     .flex.flex-column.items-center.justify-center.space-between
            //-       if x.attachment
            //-         a(href=`https://${x.link}` target="_blank" rel="noopener")
            //-           img(src=`/image/uploads/${x.attachment}` height="200" width="auto")
          .fl.w-100.ph3.bg-near-black
            h1 Media &amp; Downloads
            .flex.flex-row.flex-wrap.justify-between.mw7.center.pb4.items-center
              if (hotel.menu_capacity)
                a(href=`/uploads/${hotel._id}/${hotel.menu_capacity}`).pa3.ba.b--green.br2.dim.pointer.link.no-underline.bg-green.white Capacity chart        
              if (hotel.menu_space)
                a(href=`/uploads/${hotel._id}/${hotel.menu_space}`).pa3.ba.b--green.br2.dim.pointer.link.no-underline.bg-green.white Meeting space diagram   
              if (hotel.menu_banquet)
                a(href=`/uploads/${hotel._id}/${hotel.menu_banquet}`).pa3.ba.b--green.br2.dim.pointer.link.no-underline.bg-green.white Banquet menu
              if (hotel.menu_av)
                a(href=`/uploads/${hotel._id}/${hotel.menu_av}`).pa3.ba.b--green.br2.dim.pointer.link.no-underline.bg-green.white AV menu
        .fl.w-50.ph3.bg-black(style="height: 400px")
          h1 Staff
          .f3 Ruben Barahona
          .f6 510.625.8282
          .f6 Ruben.Barahona@interstatehotels.com
      .fl.w-100.bg-navy.pa3
        .fl.w-50-ns.w-100
          .f3.fw5.whitesmoke.lh-title.green Location performance
          .f5.fw2.lh-copy.mb2.light-green Planners just like you help venues get a better idea of how they perform based on feedback you can provide below.
          form.cf
            label.br2.ba.b--navy.w-100.fl.pv2(for="attendance") How many people in attendance? 
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="attendance")
            label.br2.ba.b--navy.w-100.fl.pv2(for="daysOfProgram") How many days was the program?
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="daysOfProgram")
            label.br2.ba.b--navy.w-100.fl.pv2(for="sleepingRooms") How many sleeping rooms?
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="sleepingRooms")
            input(type="submit" value="Submit").bg-green.white.pa2.ba.b--green.br2.mt2.fr.dim.pointer
        .fl.w-50-ns.w-100.mt3.mt0-ns.ph4
          .f3.fw5.green Protips
          .f5.fw2.light-green The pros know best. Share tips about this property with other planners.
            .f3.white.mt4 The hotel is across the street from the convention center and the BART station is only 2 blocks away. Convenient downtown location.
            h1  GY8577
            h5 Corporate | Technology | March 2019
      .fl.w-100.bg-black.white.pa3
        .fl.f3.b.fw5.w-100.w-50-ns.lh-title.gold
          p Nearby events 
          each e in hotel.events
            a(href=e.url).link.white-70
              .fl.w-third-ns.w-100.pr4
                div.lh-copy.f6.measure= e.start_time.substr(0, 10)
                div.lh-copy.f5.measure-narrow.green= e.title
                div.lh-copy.f6.measure= e.venue_name
        .fl.f3.b.fw5.w-100.w-50-ns.lh-title.gold
          p=`Twitter @${hotel.twitter}`
          if tweets
            each t in tweets
              a.dt.w-100.bb.b--black-05.pb2.mt2.link.no-underline.dim.pointer(href=`https://twitter.com/${hotel.twitter}/status/${t.id_str}`)
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src=`${t.user.profile_image_url}`)
                .dtc.v-mid.pl3
                  .f6.fw4.lh-title.light-green.mv0=`${t.text}` 
                  .f6.fw4.mt0.mb0.gold 

      .fl.w-100.bg-white
        .fl.w-100.w-30-ns.bg-gray#mapContainer(style="height: 100%")
        script.
          var center = new mapkit.Coordinate(37.8010717, -122.2729073),
            span = new mapkit.CoordinateSpan(0.0250, 0.0250),
            region = new mapkit.CoordinateRegion(center, span);
          var annotation = new mapkit.MarkerAnnotation(center, {
            title: " ",
            subtitle: " ",
            glyphText: "×",
            color: "#00000",
            displayPriority: 1000
          });
          var map = new mapkit.Map("mapContainer", {
            region: region,
            showsCompass: mapkit.FeatureVisibility.Hidden,
            showsZoomControl: false,
            showsMapTypeControl: false
          });
          map.addAnnotation(annotation);
        .fl.w-100.w-70-ns
          .flex.flex-row.flex-wrap
            .w-100.pa4
              .f4.green=`Posts by ${hotel.title}`
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
              .f5.fw3.gray.pv2=new Date().toString().substr(0, 15)
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
              .f5.fw3.gray.pv2=new Date().toString().substr(0, 15)
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
              .f5.fw3.gray.pv2=new Date().toString().substr(0, 15)
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
              .f5.fw3.gray.pv2=new Date().toString().substr(0, 15)
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
              .f5.fw3.gray.pv2=new Date().toString().substr(0, 15)
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
              .f5.fw3.gray.pv2=new Date().toString().substr(0, 15)
          