extends layout

block content
  .cf
    .fl.w-100.bg-near-black.green
      .fl.w-100.w-50-ns.pv3.ph3
        .fl.w-100.f3.fw4=`${hotel.title}`
        .fl.w-100.f5.fw4.gray=`Hotels`
      .fl.w-100.w-50-ns.pv3.ph3.tr-ns
        .fl.w-100.f3.fw4=`${hotel.address}`
        .fl.w-100.f5.fw4.gray=`${hotel.city}, ${hotel.state} ${hotel.zip}`
    .fl.w-100.bg-white.bb.bw1.b--black
      .fl.w-100.w-70-l.tc.bg-black
        if !hotel.avatarFilename
          img(src="/image/placeholder.png")
        else
          img(src=`/uploads/${hotel.avatarFilename}` style="height: 500px; width:100%; object-fit: cover !important")
      .fl.w-100.w-30-l
        table.f6.w-100.mw8.center(cellspacing='0').black
          tbody.lh-copy
            tr.stripe-dark
              td.pa1.b Rating
              td.pa1=`${hotel.diamonds}`
          if (hotel.numberOfSleepingRooms)
            tr.stripe-dark
              td.pa1.b Sleeping rooms
              td.pa1=`${hotel.numberOfSleepingRooms}`    
          if (hotel.roomsTaxPercent)
            tr.stripe-dark
              td.pa1.b Rooms tax
              td.pa1=`${hotel.roomsTaxPercent}`
          if (hotel.resortFee)
            tr.stripe-dark
              td.pa1.b Resort fee
              td.pa1=`${hotel.resortFee}`
          if (hotel.meetingRoomsAmount)
            tr.stripe-dark
              td.pa1.b Meeting rooms
              td.pa1=`${hotel.meetingRoomsAmount}`
          if (hotel.largestRoom1)
            tr.stripe-dark
              td.pa1.b Largest room (1)
              td.pa1=`${hotel.largestRoom1} sf`
          if (hotel.largestRoom2)
            tr.stripe-dark
              td.pa1.b Largest room (2)
              td.pa1=`${hotel.largestRoom2} sf`
          tr.stripe-dark
            td.pa1.b In-House Audio Visual
            td.pa1=`Property owned equipment`
          if (hotel.salesTax)
            tr.stripe-dark
              td.pa1.b Food & Beverage Tax
              td.pa1=`${hotel.salesTax}%`
          if (hotel.parkingFeeSelf)
            tr.stripe-dark
              td.pa1.b Self parking fee
              td.pa1=`${hotel.parkingFeeSelf}`
          if (hotel.parkingFeeValet)
            tr.stripe-dark
              td.pa1.b Valet parking
              td.pa1=`${hotel.parkingFeeValet}`
          if (hotel.loyaltyProgramName)
            tr.stripe-dark
              td.pa1.b Loyalty program
              td.pa1=`${hotel.loyaltyProgramName}`
          if (hotel.fitnessCenter)
            tr.stripe-dark
              td.pa1.b Fitness center
              - var fitnessStatus = hotel.fitnessCenter
              - if (fitnessStatus === true) { fitnessStatusHumanReadable = 'Yes' } else { fitnessStatusHumanReadable = 'No' }
              td.pa1=fitnessStatusHumanReadable
          if (hotel.serviceChargePercent)
            tr.stripe-dark
              td.pa1.b Service charge 
              td.pa1=`${hotel.serviceChargePercent}`
          if (hotel.publicWifiFee)
            tr.stripe-dark
              td.pa1.b Public WiFi fee
              td.pa1=`$${hotel.publicWifiFee}`
          if (hotel.hasPool)
            tr.stripe-dark
              td.pa1.b Pool
              - var poolStatus = hotel.hasPool
              - if (poolStatus === true) { poolStatusHumanReadable =  'Yes' } else { poolStatusHumanReadable = 'No' }
              td.pa1=poolStatusHumanReadable
          if (hotel.hasSpa)
            tr.stripe-dark
              - var spaStatus = hotel.hasSpa
              - if (spaStatus === true) { spaStatusHumanReadable =  'Yes' } else { spaStatusHumanReadable = 'No' }
              td.pa1.b Spa
              td.pa1=spaStatusHumanReadable
          tr.stripe-dark
            td.pa1.b Union status
            td.pa1=`Non-union`
          if (hotel.closestAirport)
            tr.stripe-dark
              td.pa1.b Airports
              td.pa1=`${hotel.closestAirport}`
          tr.stripe-dark
            td.pa1.b Public transportation
            td.pa1=`12th St./Oakland City Center 0.1mi`
      .fl.w-100.bg-black-90.gold.tc
        .fl.w-100.ph3
          h1 Promotions
          .flex.flex-row.flex-wrap.justify-between.mw7.center.pb4
            if hotel.promos
              each x in hotel.promos
                .flex.flex-column.items-center.justify-center.space-between
                  if x.attachment
                    a(href=`/image/uploads/${x.attachment}` target="_blank" rel="noopener")
                      img(src=`/image/uploads/${x.attachment}` height="200" width="auto")
                  p=`${x.title}`  
                  p=`${x.link}`  
        if (hotel.menu_capcity || hotel.menu_space || hotel.menu_banquet || hotel.menu_av) 
          .fl.w-100.ph3
            h1 Media &amp; Downloads
            .flex.flex-row.flex-wrap.justify-between.mw7.center.pb4
              if (hotel.menu_capacity)
                a(href=`/uploads/${hotel._id}/${hotel.menu_capacity}`).pa3.ba.b--green.br2.dim.pointer.bg-green.white Capacity chart        
              if (hotel.menu_capacity)
                a(href=`/uploads/${hotel._id}/${hotel.menu_space}`).pa3.ba.b--green.br2.dim.pointer.bg-green.white Meeting space diagram   
              if (hotel.menu_capacity)
                a(href=`/uploads/${hotel._id}/${hotel.menu_banquet}`).pa3.ba.b--green.br2.dim.pointer.bg-green.white Banquet menu
              if (hotel.menu_capacity)
                a(href=`/uploads/${hotel._id}/${hotel.menu_av}`).pa3.ba.b--green.br2.dim.pointer.bg-green.white AV menu
      .fl.w-100.bg-navy.pa3
        .fl.w-50-ns.w-100
          .f3.fw5.whitesmoke.lh-title.green Location performance
          .f5.fw2.lh-copy.mb2.light-green Planners just like you help venues get a better idea of how they perform based on feedback you can provide below.
          form.cf
            label.br2.ba.b--navy.w-100.fl.pv2(for="attendance") How many people in attendance? 
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="attendance")
            label.br2.ba.b--navy.w-100.fl.pv2(for="daysOfProgram") How many days was the program?
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="daysOfProgram")
            label.br2.ba.b--navy.w-100.fl.pv2(for="sleepingRooms") How many sleeping rooms?
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="sleepingRooms")
            input(type="submit" value="Submit").bg-green.white.pa2.ba.b--green.br2.mt2.fr.dim.pointer
        .fl.w-50-ns.w-100.mt3.mt0-ns.ph4
          .f3.fw5.green Protips
          .f5.fw2.light-green The pros know best. Share tips about this property with other planners.
          ul.list.pl0
            li.mt2.b.f4.fw2.gold Grade the following based on your event at this property
            li.mt2.light-blue Sales contracting process
            li.mt2.light-blue Service experience onsite
            li.mt2.light-blue Group food and beverage quality   
            li.mt2.light-blue Would you consider this venue for another event?
            li.mt2.light-blue Did you encounter any issues during your event?
          input
      .fl.w-100.bg-black.white.pa3
        .fl.f3.b.fw5.w-100.w-50-ns.lh-title.gold
          p Nearby events 
          each e in hotel.events
            a(href=e.url).link.white-70
              .fl.w-third-ns.w-100.pr4
                div.lh-copy.f6.measure= e.start_time.substr(0, 10)
                div.lh-copy.f5.measure-narrow.green= e.title
                div.lh-copy.f6.measure= e.venue_name
        .fl.f3.b.fw5.w-100.w-50-ns.lh-title.gold
          p=`Twitter @${hotel.twitter}`
          if tweets
            each t in tweets
              a.dt.w-100.bb.b--black-05.pb2.mt2.link.no-underline.dim.pointer(href=`https://twitter.com/${hotel.twitter}/status/${t.id_str}`)
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src=`${t.user.profile_image_url}`)
                .dtc.v-mid.pl3
                  .f6.fw4.lh-title.light-green.mv0=`${t.text}` 
                  .f6.fw4.mt0.mb0.gold 

      .fl.w-100.bg-white
        .fl.w-100.w-30-ns.bg-gray#mapContainer(style="height: 100%")
        script.
          var center = new mapkit.Coordinate(36.116000, -115.198920),
            span = new mapkit.CoordinateSpan(0.0250, 0.0250),
            region = new mapkit.CoordinateRegion(center, span);
          var annotation = new mapkit.MarkerAnnotation(center, {
            title: " ",
            subtitle: " ",
            glyphText: "×",
            color: "#00000",
            displayPriority: 1000
          });
          var map = new mapkit.Map("mapContainer", {
            region: region,
            showsCompass: mapkit.FeatureVisibility.Hidden,
            showsZoomControl: false,
            showsMapTypeControl: false
          });
          map.addAnnotation(annotation);
        .fl.w-100.w-70-ns
          .flex.flex-row.flex-wrap
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer