extends layout

block content
  .cf
    .fl.w-100.bg-near-black.green
      .fl.w-100.w-50-ns.pv3.ph3
        .fl.w-100.f3.fw4=`${hotel.title}`
        .fl.w-100.f5.fw4.gray=`Hotels`
      .fl.w-100.w-50-ns.pv3.ph3.tr-ns
        .fl.w-100.f3.fw4=`${hotel.address}`
        .fl.w-100.f5.fw4.gray=`${hotel.city}`
    .fl.w-100.bg-white
      .fl.w-100.w-70-l.tc.bg-black
        if !hotel.avatarFilename
          img(src="/image/placeholder.png")
        else
          img(src=`/uploads/${hotel.avatarFilename}` style="height: 500px; width:100%; object-fit: cover !important")
      .fl.w-100.w-30-l
        table.f6.w-100.mw8.center(cellspacing='0').black
          tbody.lh-copy
          if (hotel.direcotSales)
            tr.stripe-dark
              td.pa1.b Director of Sales
              td.pa1=`${hotel.direcotSales}`
          if (hotel.directorCatering)
            tr.stripe-dark
              td.pa1.b Director of Catering
              td.pa1=`${hotel.directorCatering}`
          if (hotel.twitter)
            tr.stripe-dark
              td.pa1.b Twitter
              td.pa1=`${hotel.twitter}`
          if (hotel.numberOfSleepingRooms)
            tr.stripe-dark
              td.pa1.b Sleeping rooms
              td.pa1=`${hotel.numberOfSleepingRooms}`
          if (hotel.roomsTaxPercent)
            tr.stripe-dark
              td.pa1.b Rooms tax
              td.pa1=`${hotel.roomsTaxPercent}%`
          if (hotel.resortFee)
            tr.stripe-dark
              td.pa1.b Resort fee
              td.pa1=`$${hotel.resortFee}`
          if (hotel.salesTax)
            tr.stripe-dark
              td.pa1.b Sales tax
              td.pa1=`${hotel.salesTax}%`
          if (hotel.parkingFeeSelf)
            tr.stripe-dark
              td.pa1.b Self parking fee
              td.pa1=`$${hotel.parkingFeeSelf}`
          if (hotel.parkingFeeValet)
            tr.stripe-dark
              td.pa1.b Valet parking fee
              td.pa1=`$${hotel.parkingFeeValet}`
          if (hotel.meetingRoomsAmount)
            tr.stripe-dark
              td.pa1.b Number of meeting rooms
              td.pa1=`${hotel.meetingRoomsAmount}`
          if (hotel.largestRoom1)
            tr.stripe-dark
              td.pa1.b Largest room (1)
              td.pa1=`${hotel.largestRoom1} sqft.`
          if (hotel.largestRoom2)
            tr.stripe-dark
              td.pa1.b Largest room (2)
              td.pa1=`${hotel.largestRoom2} sqft.`
          if (hotel.publicWifiFee)
            tr.stripe-dark
              td.pa1.b Public WiFi fee
              td.pa1=`$${hotel.publicWifiFee}`
          if (hotel.serviceChargePercent)
            tr.stripe-dark
              td.pa1.b Service charge 
              td.pa1=`${hotel.serviceChargePercent}%`
          if (hotel.diamonds)
            tr.stripe-dark
              td.pa1.b Hotel rating
              td.pa1=`${hotel.diamonds}`
          if (hotel.loyaltyProgramName)
            tr.stripe-dark
              td.pa1.b Loyalty program
              td.pa1=`${hotel.loyaltyProgramName}`
          if (hotel.closestAirport)
            tr.stripe-dark
              td.pa1.b Closest airport
              td.pa1=`${hotel.closestAirport}`
          if (hotel.fitnessCenter)
            tr.stripe-dark
              td.pa1.b Fitness center?
              td.pa1=`${hotel.fitnessCenter}`
          if (hotel.hasPool)
            tr.stripe-dark
              td.pa1.b Pool?
              td.pa1=`${hotel.hasPool}`
          if (hotel.hasSpa)
            tr.stripe-dark
              td.pa1.b Spa?
              td.pa1=`${hotel.hasSpa}`
      .fl.w-100.bg-black-90.gold.tc
        .fl.w-50-ns.w-100.ph3
          h1 Promotions
          .flex.flex-row.flex-wrap.justify-between.mw7.center.pb4
            span fdsafdsa
        .fl.w-50-ns.w-100.ph3
          h1 Media &amp; Downloads
          .flex.flex-row.flex-wrap.justify-between.mw7.center.pb4
            button.pa3.ba.b--green.br2.dim.pointer.bg-green.white Capacity chart        
            button.pa3.ba.b--green.br2.dim.pointer.bg-green.white Meeting space diagram   
            button.pa3.ba.b--green.br2.dim.pointer.bg-green.white Banquet menu
            button.pa3.ba.b--green.br2.dim.pointer.bg-green.white AV menu
      .fl.w-100.bg-navy.pa3
        .fl.w-50-ns.w-100
          .f3.fw5.whitesmoke.lh-title.green Location performance
          .f5.fw2.lh-copy.mb2.light-green Planners just like you help venues get a better idea of how they perform based on feedback you can provide below.
          form.cf
            label.br2.ba.b--navy.w-100.fl.pv2(for="attendance") How many people in attendance? 
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="attendance")
            label.br2.ba.b--navy.w-100.fl.pv2(for="daysOfProgram") How many days was the program?
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="daysOfProgram")
            label.br2.ba.b--navy.w-100.fl.pv2(for="sleepingRooms") How many sleeping rooms?
            input.br2.ba.b--navy.w-100.fl.pa2(type="number" name="sleepingRooms")
            input(type="submit" value="Submit").bg-green.white.pa2.ba.b--green.br2.mt2.fr.dim.pointer
        .fl.w-50-ns.w-100.mt3.mt0-ns.ph4
          .f3.fw5.green Protips
          .f5.fw2.light-green The pros know best. Share tips about this property with other planners.
          ul.list.pl0
            li.mt2.b.f4.fw2.gold Grade the following based on your event at this property
            li.mt2.light-blue Sales contracting process
            li.mt2.light-blue Service experience onsite
            li.mt2.light-blue Group food and beverage quality   
            li.mt2.light-blue Would you consider this venue for another event?
            li.mt2.light-blue Did you encounter any issues during your event?
          input
      .fl.w-100.bg-black.white.pa3
        .fl.f3.b.fw5.w-100.w-50-ns.lh-title.gold
          p Nearby events 
          each e in hotel.events
            a(href=e.url).link.white-70
              .fl.w-third-ns.w-100.pr4
                div.lh-copy.f6.measure= e.start_time.substr(0, 10)
                div.lh-copy.f5.measure-narrow.green= e.title
                div.lh-copy.f6.measure= e.venue_name
        .fl.f3.b.fw5.w-100.w-50-ns.lh-title.gold
          p Twitter
          each t in tweets
            a.dt.w-100.bb.b--black-05.pb2.mt2.link.no-underline.dim.pointer(href=`https://twitter.com/${hotel.twitter}/status/${t.id_str}`)
              .dtc.w2.w3-ns.v-mid
                img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src=`${t.user.profile_image_url}`)
              .dtc.v-mid.pl3
                .f6.fw4.lh-title.light-green.mv0=`${t.text}` 
                .f6.fw4.mt0.mb0.gold 

      .fl.w-100.bg-white
        .fl.w-100.w-30-ns.bg-gray#mapContainer(style="height: 100%")
        script.
          var center = new mapkit.Coordinate(36.116000, -115.198920),
            span = new mapkit.CoordinateSpan(0.0250, 0.0250),
            region = new mapkit.CoordinateRegion(center, span);
          var annotation = new mapkit.MarkerAnnotation(center, {
            title: "Exhale Nevada",
            subtitle: "4310 W Flamingo Road.",
            glyphText: "×",
            color: "#00000",
            displayPriority: 1000
          });
          var map = new mapkit.Map("mapContainer", {
            region: region,
            showsCompass: mapkit.FeatureVisibility.Hidden,
            showsZoomControl: false,
            showsMapTypeControl: false
          });
          map.addAnnotation(annotation);
        .fl.w-100.w-70-ns
          .flex.flex-row.flex-wrap
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer
            
            .w-50.pa4
              img(src="/image/smartstart.png" height="auto" width="100%").br2.shadow-2.dim.pointer